header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.search-bar {
  flex: 1;
  display: flex;
  max-width: 500px;
  align-items: center;
  margin-left: 60px;
  margin-right: 29px;
}
.logo {
  display: flex;
  align-items: center;
}

.youtube-logo {
  height: 22px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.search {
  height: 40px;
  width: 64px;

  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  background-color: rgb(247, 247, 247);
  cursor: pointer;
  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search:hover {
  background-color: rgb(239, 239, 239);
}

.search:active {
  background-color: rgb(232, 232, 232);
}

.search-img {
  margin-top: 4px;
  height: 24px;
  width: 24px;
}

.voice-search-icon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  background-color: rgb(240, 240, 240);
}

.voice-search-icon img {
  margin-top: 4px;
  height: 24px;
}
.searching {
  height: 36px;
  flex: 1;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.searching::placeholder {
  font-size: 16px;
}

.icons {
  height: 24px;
}

.user {
  height: 32px;
  border-radius: 50%;
}

.header-icons {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  margin-right: 24px;
}

.tooltip {
  background-color: rgba(96, 96, 96, 0.9);
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 2px;
  position: absolute;

  bottom: -50px;

  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.tooltip-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
}
.notification-count {
  background-color: rgb(204, 0, 0);
  border-radius: 80px;
  position: absolute;
  top: -3px;
  right: -7px;
  color: white;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 1.5px 5px;
  pointer-events: none;
}
