.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 22px;
  padding: 20px;
}

@media (max-width: 569px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 870px) and (max-width: 1124px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1125px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-thumbnail img {
  width: 100%;
}

.video-under {
  display: grid;
  grid-template-columns: 36px 1fr;
  margin-top: 12px;
  gap: 12px;
}

.channel-icon img {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-stats {
  font-size: 12px;
  color: #606060;
}

.video-stats span {
  display: block;
  margin-bottom: 3px;
}
